<%- include('../layouts/header.ejs')%>
<!-- <h1>Add New User</h1>

<form action = ""  method = "POST" enctype="multipart/form-data">
    <input type = "text" name = "name" placeholder = "Enter name" required>
    <br>
    <br>
    <input type = "email" name = "email" placeholder = "Enter email" required>
    <br><br>
    <input type = "text" name = "mno" placeholder = "Enter Mobile Number" required>
    <br><br>
    <input type = "text" name = "desig" placeholder = "Mentor/Trainee" required>
    
    <br><br>
    <input type = "file" name = "image"  required>
    <br><br>
    <input type="number" name="yoj" placeholder="Year Of Joining yyyy" required> 
    <br><br>
    <input type = "submit" name = "submit" value = "Add User">
</form>


<%
    if(typeof message !== 'undefined'){
        %>
        <p style="color:red;"><%= message %></p>
        <%
    }
%>

<a href="/admin/dashboard">Back</a> -->

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" action = ""  method = "post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" name = "name" class="form-control form-control-user" id="exampleFirstName"
                                    placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name = "email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Email Address" required>
                            </div>
                            <div class="form-group">
                                <input type="number" name = "mno" class="form-control form-control-user" id="exampleInputNumber"
                                    placeholder="Mobile Number" required min="1111111111" max="9999999999">
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" checked id="inlineRadio1" value="Mentor">
                                    <label class="form-check-label" for="inlineRadio1">Mentor</label>
                                  </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Trainee">
                                    <label class="form-check-label" for="inlineRadio2">Trainee</label>
                                </div>
                            </div>
                            <div class="form-group position-relative">
                                <input type="password" name = "password" class="form-control form-control-user"
                                    id="exampleInputPassword" placeholder="Password" required>
                                <i class="fas fa-fw fa-eye position-absolute" id="togglePassword" style="right: 1rem; top: 1rem; cursor:pointer"></i>
                            </div>
                            <input type="file" class="mb-3" id="exampleInputFile"
                                    placeholder="Profile Photo" name = "image" required>
                            <input type = "submit" value="Create" class="btn btn-primary btn-user btn-blockr" style="width: 100%;">
                            <hr>
                        </form>
                        <div class="text-center">
                            <a class="small" href="/admin/home">Back To dashboard!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    const togglePassword = document.getElementById('togglePassword');
    const password = document.querySelector('#exampleInputPassword');
   
    togglePassword.addEventListener('click', function (e) {
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      this.classList.toggle('fa-eye-slash');
  });
</script>


<% include('../layouts/footer.ejs')%>